
* {
    box-sizing: bor;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid #777;

}
#navbar {
    max-width: 300px;
    margin-right: 30px;
    
    border-right: 3px solid #777;
    

}
#navbar .nav-links {
    display: block;
    border-bottom:1px solid burlywood;
    padding:5px;
    margin:10px 0;
    text-decoration: none;
    color:black;
}
.main-section {
    flex:1;
   
    
    
    

}
header {
    font-size:20px;
    font-weight: bold;
    padding: 10px;
}

code {
    background-color:#eee;
    display: block;
    padding: 20px;
    width: 250px;
    
}
img {
   height: 354px;
   
}
a {
    text-decoration: none;
    color:black;
    margin:10px 0;
    padding: 5px;
}
#header {
    text-decoration: none;
    margin:10px 0;
    text-align: center;
    font-size: 20px;
    
}

